*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.main{
    display: flex;
    border: 1px solid blue;
    height:400px ;
    /* justify-content: alinea los elementos en el eje principal; */
    /* ¿Cuál es el eje principal?
    - Cuando "flex-diretion: row" el eje principal es x 
    - Cuando "flex-direction: column" el eje principal es y;*/
     /* center, space-between, space-around, space-evenly */
    justify-content: space-evenly;
    /* align-items:  alinea los elementos en el eje 
    secundario; */ 
    /* flex-end, flex-start, center */
    align-items: flex-start;

}
.main__formulario{
    width: 600px;
    border: 1px solid red;

}